In [1]:
#import statements
import pandas as pd
import os
import numpy as np

In [2]:
# helper functions

In [3]:
pwd

'/Users/prakharsrivastav/Summer2023/freshlook/SummerProjectMSBA'

In [4]:
# global variables
safer_multicity_study_id = '50a68a51fdc9f05596000002'
images_path = path = "/Users/prakharsrivastav/Summer2023/place-pulse-2.0/images"

In [ ]:
# load datasets

scores = pd.read_table('/Users/prakharsrivastav/Summer2023/place-pulse-2.0/qscores.tsv')
locations = pd.read_excel('/Users/prakharsrivastav/Summer2023/place-pulse-2.0/locations.xlsx')
places = pd.read_table('/Users/prakharsrivastav/Summer2023/place-pulse-2.0/places.tsv')
studies = pd.read_table('/Users/prakharsrivastav/Summer2023/place-pulse-2.0/studies.tsv')
votes = pd.read_table('/Users/prakharsrivastav/Summer2023/place-pulse-2.0/votes.tsv')

In [ ]:
print(scores.shape)
print(locations.shape)
print(places.shape)
print(studies.shape)
print(votes.shape)

In [ ]:
scores.head()

In [ ]:
locations.head()

In [ ]:
places.head()

In [ ]:
studies.head()

In [ ]:
votes.head()

In [ ]:
# filtering the scores and considering only the studies with study_name as 'safer_multicity'

scores = scores[scores['study_id'] == safer_multicity_study_id]
scores.shape

In [ ]:
# merging tables

scores = scores.merge(locations, how='left', left_on='location_id', right_on='_id', suffixes=('_scores', '_location'))

In [ ]:
scores

In [ ]:
scores = scores.drop(['num_votes', 'study_id', '_id_location', 'heading', 'owner', 'pitch', 'type', 'votes', 'place_id_location'], axis=1)

In [ ]:
scores

In [ ]:
scores = scores.merge(places, how='left', left_on='place_id_scores', right_on='_id', suffixes=('_scores', '_place'))
scores

In [ ]:
scores = scores.drop(['_id_scores', 'place_id_scores', '_id', 'data_resolution', 'location_distribution', 'owner', 'polygon'], axis=1)
scores

In [ ]:
scores = scores.astype(str)

In [ ]:
scores

In [ ]:
images_dir_list = os.listdir(images_path)

In [ ]:
images_dir_list[0]

In [ ]:
image_path_data = pd.DataFrame(columns=['image_id', 'image_name'])

In [ ]:
for i in range(len(images_dir_list)):
    image_path_data.loc[len(image_path_data)] = [images_dir_list[i].split('_')[2], images_dir_list[i]]
    if(i%20000 == 0):
        print(i)

In [ ]:
image_path_data.head()

In [ ]:
scores.head()

In [ ]:
image_path_data = image_path_data.merge(scores, how='left', left_on='image_id', right_on='location_id')
image_path_data.head()

In [ ]:
image_path_data = image_path_data.drop(['location_id','loc.0', 'loc.1',	'place_name_scores', 'place_name_place'], axis=1)

In [ ]:
image_path_data.head()

In [ ]:
image_path_data.info()

In [ ]:
image_path_data['trueskill.score'] = pd.to_numeric(image_path_data['trueskill.score'])

In [ ]:
image_path_data['trueskill.original_score'] = image_path_data['trueskill.score']

In [ ]:
image_path_data_US = image_path_data[(image_path_data.OECD_Flag == "YES") & (image_path_data.US_Flag == "YES")]

In [ ]:
image_path_data_US.head()

In [ ]:

image_path_data_US.to_csv('/Users/prakharsrivastav/Summer2023/freshlook/csvs/image_path_data_safe_US.csv', index = False)

In [ ]:
print(image_path_data_US.shape)
image_path_data_US.head()

In [5]:

image_path_data_1_US = pd.read_csv('/Users/prakharsrivastav/Summer2023/freshlook/csvs/image_path_data_safe_US.csv')

In [6]:

print(image_path_data_1_US.shape)

(30935, 7)

In [7]:
image_path_data_1_US['trueskill.score'] = pd.cut(image_path_data_1_US['trueskill.score'].astype(float), bins=10)
image_path_data_1_US['trueskill.score'] = image_path_data_1_US['trueskill.score'].astype(str)

In [8]:
image_path_data_1_US

,image_id,image_name,trueskill.score,trueskill.stds.-1,OECD_Flag,US_Flag,trueskill.original_score
0,513d7d4cfdc9f03587007186,40.695630_-73.851397_513d7d4cfdc9f03587007186_...,"(21.488, 24.937]",2.762795,YES,YES,21.878587
1,513d9c24fdc9f03587007c35,40.699362_-73.912928_513d9c24fdc9f03587007c35_...,"(24.937, 28.387]",3.065805,YES,YES,26.410058
2,513cc456fdc9f03587001762,29.720081_-95.419324_513cc456fdc9f03587001762_...,"(24.937, 28.387]",2.423697,YES,YES,28.331744
3,513d367cfdc9f03587002ba2,29.837706_-95.350702_513d367cfdc9f03587002ba2_...,"(21.488, 24.937]",2.401741,YES,YES,24.295249
4,513da08dfdc9f035870089cd,33.756952_-84.388171_513da08dfdc9f035870089cd_...,"(24.937, 28.387]",2.713036,YES,YES,25.031844
...,...,...,...,...,...,...,...
30930,513d38dafdc9f03587002c84,41.887697_-87.656115_513d38dafdc9f03587002c84_...,"(18.038, 21.488]",2.467388,YES,YES,19.257700
30931,513da123fdc9f03587008a9e,33.857256_-84.376097_513da123fdc9f03587008a9e_...,"(24.937, 28.387]",3.229988,YES,YES,26.164800
30932,513d7a4ffdc9f035870067ab,40.651277_-73.906044_513d7a4ffdc9f035870067ab_...,"(14.588, 18.038]",4.287350,YES,YES,17.461465
30933,513d7da2fdc9f0358700722d,40.653774_-73.955897_513d7da2fdc9f0358700722d_...,"(21.488, 24.937]",3.601781,YES,YES,22.266295
30934,513d7b0cfdc9f03587006a2b,40.728511_-73.833255_513d7b0cfdc9f03587006a2b_...,"(24.937, 28.387]",2.431099,YES,YES,25.085974

In [9]:
image_path_data_1_US['trueskill.score'].unique()

array(['(21.488, 24.937]', '(24.937, 28.387]', '(31.837, 35.286]',
       '(18.038, 21.488]', '(28.387, 31.837]', '(14.588, 18.038]',
       '(35.286, 38.736]', '(7.654, 11.139]', '(38.736, 42.186]',
       '(11.139, 14.588]'], dtype=object)

In [10]:
bin_mapping_US = {
    '(7.654, 11.139]': '0',
    '(11.139, 14.588]': '1',
    '(14.588, 18.038]': '2',
    '(18.038, 21.488]': '3',
    '(21.488, 24.937]': '4',
    '(24.937, 28.387]': '5',
    '(28.387, 31.837]': '6',
    '(31.837, 35.286]': '7',
    '(35.286, 38.736]': '8',
    '(38.736, 42.186]': '9'
}

In [11]:
image_path_data_1_US['trueskill.score'] = image_path_data_1_US['trueskill.score'].astype(str)

In [12]:
# Use the 'map' function to assign the values based on the bin_mapping dictionary
image_path_data_1_US['trueskill.score'] = image_path_data_1_US['trueskill.score'].map(bin_mapping_US)

In [13]:
image_path_data_1_US

,image_id,image_name,trueskill.score,trueskill.stds.-1,OECD_Flag,US_Flag,trueskill.original_score
0,513d7d4cfdc9f03587007186,40.695630_-73.851397_513d7d4cfdc9f03587007186_...,4,2.762795,YES,YES,21.878587
1,513d9c24fdc9f03587007c35,40.699362_-73.912928_513d9c24fdc9f03587007c35_...,5,3.065805,YES,YES,26.410058
2,513cc456fdc9f03587001762,29.720081_-95.419324_513cc456fdc9f03587001762_...,5,2.423697,YES,YES,28.331744
3,513d367cfdc9f03587002ba2,29.837706_-95.350702_513d367cfdc9f03587002ba2_...,4,2.401741,YES,YES,24.295249
4,513da08dfdc9f035870089cd,33.756952_-84.388171_513da08dfdc9f035870089cd_...,5,2.713036,YES,YES,25.031844
...,...,...,...,...,...,...,...
30930,513d38dafdc9f03587002c84,41.887697_-87.656115_513d38dafdc9f03587002c84_...,3,2.467388,YES,YES,19.257700
30931,513da123fdc9f03587008a9e,33.857256_-84.376097_513da123fdc9f03587008a9e_...,5,3.229988,YES,YES,26.164800
30932,513d7a4ffdc9f035870067ab,40.651277_-73.906044_513d7a4ffdc9f035870067ab_...,2,4.287350,YES,YES,17.461465
30933,513d7da2fdc9f0358700722d,40.653774_-73.955897_513d7da2fdc9f0358700722d_...,4,3.601781,YES,YES,22.266295
30934,513d7b0cfdc9f03587006a2b,40.728511_-73.833255_513d7b0cfdc9f03587006a2b_...,5,2.431099,YES,YES,25.085974

In [14]:
image_path_data_1_US.to_csv('/Users/prakharsrivastav/Summer2023/freshlook/csvs/images_score_1_safe_US.csv', index = False)

In [15]:
image_path_data_1_US['trueskill.score'].value_counts()

5    9450
4    7548
6    6065
3    3800
7    2272
2    1040
8     480
1     185
9      70
0      25
Name: trueskill.score, dtype: int64

In [ ]:
# Let's say we want to split the data in 80:10:10 for train:valid:test dataset
train_size_1 = 0.8
valid_size_1 = 0.2

train_index_1 = int(len(full_balanced_df_1_US)*train_size_1)

full_balanced_df_1 = full_balanced_df_1_US.sample(frac = 1).reset_index(drop=True)

full_balanced_df_train_1_US = full_balanced_df_1[0:train_index_1]
full_balanced_df_rem_1_US = full_balanced_df_1[train_index_1:]

valid_index_1 = int(len(full_balanced_df_1)*valid_size_1)

full_balanced_df_valid_1_US = full_balanced_df_1[train_index_1:train_index_1+valid_index_1]
full_balanced_df_test_1_US = full_balanced_df_1[train_index_1+valid_index_1:]

print(full_balanced_df_train_1_US.shape)
print(full_balanced_df_valid_1_US.shape)
print(full_balanced_df_test_1_US.shape)

In [ ]:
# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [ ]:
a_1_US = image_path_data_1_US['trueskill.score'].unique()

In [ ]:
full_balanced_df_1_US = pd.DataFrame()  # DataFrame to store the balanced dataset

for value in a_1_US:
    # Subset the original dataset for the current value
    subset_1 = image_path_data_1_US[image_path_data_1_US['trueskill.score'] == str(value)]
    
    # Randomly select min_count data points from the subset
    sampled_subset_1 = subset_1.sample(n=12000, random_state=42, replace=True)
    
    # Append the sampled subset to the balanced dataset
    full_balanced_df_1_US = full_balanced_df_1_US.append(sampled_subset_1)

# Save the balanced dataset to a new CSV file
full_balanced_df_1_US.to_csv('/Users/shubham/Desktop/hackathons/research_project/2_streetView_score/place_pulse_2/safe/full_balanced_dataset_1_safe_US.csv')

In [ ]:
import random

In [ ]:
random.seed(200)

In [ ]:
# Let's say we want to split the data in 80:10:10 for train:valid:test dataset
train_size_1 = 0.8
valid_size_1 = 0.2

train_index_1 = int(len(full_balanced_df_1_US)*train_size_1)

full_balanced_df_1 = full_balanced_df_1_US.sample(frac = 1).reset_index(drop=True)

full_balanced_df_train_1_US = full_balanced_df_1[0:train_index_1]
full_balanced_df_rem_1_US = full_balanced_df_1[train_index_1:]

valid_index_1 = int(len(full_balanced_df_1)*valid_size_1)

full_balanced_df_valid_1_US = full_balanced_df_1[train_index_1:train_index_1+valid_index_1]
full_balanced_df_test_1_US = full_balanced_df_1[train_index_1+valid_index_1:]

print(full_balanced_df_train_1_US.shape)
print(full_balanced_df_valid_1_US.shape)
print(full_balanced_df_test_1_US.shape)

In [ ]:
# Let's say we want to split the data in 80:10:10 for train:valid:test dataset
train_size_1 = 0.8
valid_size_1 = 0.2

train_index_1 = int(len(full_balanced_df_1_OECD)*train_size_1)

full_balanced_df_1 = full_balanced_df_1_OECD.sample(frac = 1).reset_index(drop=True)

full_balanced_df_train_1_OECD = full_balanced_df_1[0:train_index_1]
full_balanced_df_rem_1_OECD = full_balanced_df_1[train_index_1:]

valid_index_1 = int(len(full_balanced_df_1)*valid_size_1)

full_balanced_df_valid_1_OECD = full_balanced_df_1[train_index_1:train_index_1+valid_index_1]
full_balanced_df_test_1_OECD = full_balanced_df_1[train_index_1+valid_index_1:]

print(full_balanced_df_train_1_OECD.shape)
print(full_balanced_df_valid_1_OECD.shape)
print(full_balanced_df_test_1_OECD.shape)

In [ ]:
full_balanced_df_train_1_US.to_csv('/Users/shubham/Desktop/hackathons/research_project/2_streetView_score/place_pulse_2/safe/full_balanced_df_train_1_safe_US.csv')
full_balanced_df_valid_1_US.to_csv('/Users/shubham/Desktop/hackathons/research_project/2_streetView_score/place_pulse_2/safe/full_balanced_df_valid_1_safe_US.csv')

small_balanced_df_train_1_US.to_csv('/Users/shubham/Desktop/hackathons/research_project/2_streetView_score/place_pulse_2/safe/small_balanced_df_train_1_safe_US.csv')
small_balanced_df_valid_1_US.to_csv('/Users/shubham/Desktop/hackathons/research_project/2_streetView_score/place_pulse_2/safe/small_balanced_df_valid_1_safe_US.csv')

In [ ]:
full_balanced_df_train_1_OECD.to_csv('/Users/shubham/Desktop/hackathons/research_project/2_streetView_score/place_pulse_2/safe/full_balanced_df_train_1_safe_OECD.csv')
full_balanced_df_valid_1_OECD.to_csv('/Users/shubham/Desktop/hackathons/research_project/2_streetView_score/place_pulse_2/safe/full_balanced_df_valid_1_safe_OECD.csv')

small_balanced_df_train_1_OECD.to_csv('/Users/shubham/Desktop/hackathons/research_project/2_streetView_score/place_pulse_2/safe/small_balanced_df_train_1_safe_OECD.csv')
small_balanced_df_valid_1_OECD.to_csv('/Users/shubham/Desktop/hackathons/research_project/2_streetView_score/place_pulse_2/safe/small_balanced_df_valid_1_safe_OECD.csv')

In [ ]:
full_balanced_df_train_1_US.info()

In [ ]:
full_balanced_df_train_1_US.head()

In [ ]:
full_balanced_df_train_1_OECD.info()

In [ ]:
full_balanced_df_train_1_OECD.head()

In [ ]:
full_balanced_df_train_1_US['trueskill.score'].value_counts()

In [ ]:
full_balanced_df_train_1_OECD['trueskill.score'].value_counts()

In [16]:
image_path_data_2_US = pd.read_csv('/Users/prakharsrivastav/Summer2023/freshlook/csvs/image_path_data_safe_US.csv', index_col=0)

In [17]:
image_path_data_2_US.head()

,image_name,trueskill.score,trueskill.stds.-1,OECD_Flag,US_Flag,trueskill.original_score
image_id,,,,,,
513d7d4cfdc9f03587007186,40.695630_-73.851397_513d7d4cfdc9f03587007186_...,21.878587,2.762795,YES,YES,21.878587
513d9c24fdc9f03587007c35,40.699362_-73.912928_513d9c24fdc9f03587007c35_...,26.410058,3.065805,YES,YES,26.410058
513cc456fdc9f03587001762,29.720081_-95.419324_513cc456fdc9f03587001762_...,28.331744,2.423697,YES,YES,28.331744
513d367cfdc9f03587002ba2,29.837706_-95.350702_513d367cfdc9f03587002ba2_...,24.295249,2.401741,YES,YES,24.295249
513da08dfdc9f035870089cd,33.756952_-84.388171_513da08dfdc9f035870089cd_...,25.031844,2.713036,YES,YES,25.031844

In [18]:
image_path_data_2_US['trueskill.score'] = image_path_data_2_US['trueskill.score'].astype(int)
min_val = image_path_data_2_US['trueskill.score'].min()
image_path_data_2_US['trueskill.score'] = image_path_data_2_US['trueskill.score'] - min_val

In [19]:
image_path_data_2_US['trueskill.score'] = image_path_data_2_US['trueskill.score'].astype(str)
image_path_data_2_US['trueskill.score'].unique()

array(['14', '19', '21', '17', '18', '20', '15', '25', '13', '23', '22',
       '16', '26', '9', '12', '28', '27', '8', '11', '7', '10', '24',
       '29', '3', '30', '32', '5', '31', '6', '33', '4', '34', '0', '1',
       '2', '35'], dtype=object)

In [20]:
image_path_data_2_US['trueskill.score'] = image_path_data_2_US['trueskill.score'].astype(str)
image_path_data_2_US.to_csv('/Users/prakharsrivastav/Summer2023/freshlook/csvs/images_score_2_safe_US.csv')
a_2_US = image_path_data_2_US['trueskill.score'].unique()

In [ ]:
from sklearn.model_selection import train_test_split

image_path_data_1 = pd.read_csv('/Users/shubham/Desktop/hackathons/research_project/image_path_data_safe.csv', index_col=0)
train_data, test_data = train_test_split(image_path_data_1, test_size=0.2, random_state=42)

train_data.to_csv('/Users/shubham/Desktop/hackathons/research_project/2_streetView_score/place_pulse_2/safe/images_score_train_1_safe.csv', index = False)
test_data.to_csv('/Users/shubham/Desktop/hackathons/research_project/2_streetView_score/place_pulse_2/safe/images_score_valid_1_safe.csv', index = False)

In [22]:
from sklearn.model_selection import train_test_split

image_path_data_1 = pd.read_csv('/Users/prakharsrivastav/Summer2023/freshlook/csvs/images_score_2_safe_US.csv')
image_path_data_1

,image_id,image_name,trueskill.score,trueskill.stds.-1,OECD_Flag,US_Flag,trueskill.original_score
0,513d7d4cfdc9f03587007186,40.695630_-73.851397_513d7d4cfdc9f03587007186_...,14,2.762795,YES,YES,21.878587
1,513d9c24fdc9f03587007c35,40.699362_-73.912928_513d9c24fdc9f03587007c35_...,19,3.065805,YES,YES,26.410058
2,513cc456fdc9f03587001762,29.720081_-95.419324_513cc456fdc9f03587001762_...,21,2.423697,YES,YES,28.331744
3,513d367cfdc9f03587002ba2,29.837706_-95.350702_513d367cfdc9f03587002ba2_...,17,2.401741,YES,YES,24.295249
4,513da08dfdc9f035870089cd,33.756952_-84.388171_513da08dfdc9f035870089cd_...,18,2.713036,YES,YES,25.031844
...,...,...,...,...,...,...,...
30930,513d38dafdc9f03587002c84,41.887697_-87.656115_513d38dafdc9f03587002c84_...,12,2.467388,YES,YES,19.257700
30931,513da123fdc9f03587008a9e,33.857256_-84.376097_513da123fdc9f03587008a9e_...,19,3.229988,YES,YES,26.164800
30932,513d7a4ffdc9f035870067ab,40.651277_-73.906044_513d7a4ffdc9f035870067ab_...,10,4.287350,YES,YES,17.461465
30933,513d7da2fdc9f0358700722d,40.653774_-73.955897_513d7da2fdc9f0358700722d_...,15,3.601781,YES,YES,22.266295
30934,513d7b0cfdc9f03587006a2b,40.728511_-73.833255_513d7b0cfdc9f03587006a2b_...,18,2.431099,YES,YES,25.085974

In [23]:
train_data, test_data = train_test_split(image_path_data_1, test_size=0.3, random_state=42)

In [24]:
train_data

,image_id,image_name,trueskill.score,trueskill.stds.-1,OECD_Flag,US_Flag,trueskill.original_score
28540,50f5e86ffdc9f065f0007293,37.799725_-122.429753_50f5e86ffdc9f065f0007293...,13,2.918179,YES,YES,20.449632
7088,513cbf4dfdc9f0358700126d,29.859855_-95.366221_513cbf4dfdc9f0358700126d_...,12,4.546307,YES,YES,19.940760
11352,5140b64cfdc9f04926001698,38.963620_-77.053219_5140b64cfdc9f04926001698_...,17,3.930976,YES,YES,24.352167
22193,5141398dfdc9f049260054c3,34.043555_-118.308254_5141398dfdc9f049260054c3...,12,5.781776,YES,YES,19.224412
10078,514141d8fdc9f04926006226,-37.740089_144.954170_514141d8fdc9f04926006226...,22,2.915599,YES,YES,29.256564
...,...,...,...,...,...,...,...
29802,513d7927fdc9f035870063ea,33.857767_-84.312207_513d7927fdc9f035870063ea_...,22,3.084836,YES,YES,29.686033
5390,513cb652fdc9f03587000a1e,29.752872_-95.298844_513cb652fdc9f03587000a1e_...,17,5.505191,YES,YES,24.057298
860,513d9b40fdc9f03587007957,33.785874_-84.465201_513d9b40fdc9f03587007957_...,16,3.782050,YES,YES,23.759180
15795,50f5e86ffdc9f065f000729d,37.798016_-122.420855_50f5e86ffdc9f065f000729d...,18,2.480058,YES,YES,25.209718
23654,513d9c48fdc9f03587007cb0,40.840488_-73.817754_513d9c48fdc9f03587007cb0_...,25,2.996989,YES,YES,32.846271

In [25]:
test_data

,image_id,image_name,trueskill.score,trueskill.stds.-1,OECD_Flag,US_Flag,trueskill.original_score
24222,513d69f8fdc9f035870048f1,42.335074_-71.107599_513d69f8fdc9f035870048f1_...,15,2.355172,YES,YES,22.475435
20449,513cc5c2fdc9f035870018b9,29.729233_-95.323680_513cc5c2fdc9f035870018b9_...,17,2.670835,YES,YES,24.928658
12102,513d2e51fdc9f03587002582,29.822085_-95.377759_513d2e51fdc9f03587002582_...,13,2.463619,YES,YES,20.938390
27460,513cbdaefdc9f035870010e8,29.805792_-95.472148_513cbdaefdc9f035870010e8_...,15,4.185869,YES,YES,22.324839
17255,51414034fdc9f04926006082,-37.883594_144.994651_51414034fdc9f04926006082...,15,3.165187,YES,YES,22.247597
...,...,...,...,...,...,...,...
10911,514149abfdc9f04926006e2b,-37.866502_145.018737_514149abfdc9f04926006e2b...,14,2.437911,YES,YES,21.118054
26597,513cc071fdc9f03587001398,29.860690_-95.415222_513cc071fdc9f03587001398_...,14,2.298619,YES,YES,21.092681
8759,513d68f2fdc9f0358700455d,42.367435_-71.162433_513d68f2fdc9f0358700455d_...,17,4.868522,YES,YES,24.718067
3821,513d9e73fdc9f035870083f0,33.784367_-84.475802_513d9e73fdc9f035870083f0_...,8,2.839054,YES,YES,15.517689
15073,513d797dfdc9f035870064fc,33.859232_-84.257030_513d797dfdc9f035870064fc_...,25,3.400647,YES,YES,32.915017

In [26]:
train_data.to_csv('/Users/prakharsrivastav/Summer2023/freshlook/csvs/images_score_train_1_safe.csv', index = False)
test_data.to_csv('/Users/prakharsrivastav/Summer2023/freshlook/csvs/images_score_valid_1_safe.csv', index = False)

/export/storage_streetview/prakhar_test/Dataset_New_Final/testing

In [27]:
a_2_US = train_data['trueskill.score'].unique()

In [29]:
a_2_US

array([13, 12, 17, 22, 11, 19, 21, 15, 26, 16, 14, 30, 24, 20, 18, 27, 25,
        9, 29,  8, 10,  6, 32, 23, 31, 28,  7,  5,  3, 34,  4, 35, 33,  2,
        1,  0])

In [32]:
subset_100 = train_data[train_data['trueskill.score'] == 13]

In [33]:
subset_100

,image_id,image_name,trueskill.score,trueskill.stds.-1,OECD_Flag,US_Flag,trueskill.original_score
28540,50f5e86ffdc9f065f0007293,37.799725_-122.429753_50f5e86ffdc9f065f0007293...,13,2.918179,YES,YES,20.449632
3012,5142286cfdc9f04926008761,40.029569_-75.224617_5142286cfdc9f04926008761_...,13,2.613546,YES,YES,20.555940
17385,513d7c91fdc9f03587006f3a,40.866894_-73.862539_513d7c91fdc9f03587006f3a_...,13,2.581536,YES,YES,20.395493
14712,5142270efdc9f04926008615,39.903714_-75.160602_5142270efdc9f04926008615_...,13,5.672638,YES,YES,20.954986
7591,514138e0fdc9f04926005313,34.051277_-118.284176_514138e0fdc9f04926005313...,13,2.307493,YES,YES,20.623938
...,...,...,...,...,...,...,...
5258,50f60c4abeb2fed910000244,45.551763_-122.550132_50f60c4abeb2fed910000244...,13,3.385721,YES,YES,20.690123
16448,51413ae4fdc9f0492600580e,34.017922_-118.243195_51413ae4fdc9f0492600580e...,13,3.327954,YES,YES,20.993546
24253,513cc4c2fdc9f035870017c8,29.856061_-95.308029_513cc4c2fdc9f035870017c8_...,13,2.950713,YES,YES,20.914072
2612,514138ccfdc9f049260052e2,33.990102_-118.308936_514138ccfdc9f049260052e2...,13,2.475418,YES,YES,20.846885
16023,5140b861fdc9f04926001c28,38.940734_-76.998742_5140b861fdc9f04926001c28_...,13,2.660160,YES,YES,20.046017

In [34]:
full_balanced_df_2_US = pd.DataFrame()  # DataFrame to store the balanced dataset

for value in a_2_US:
    # Subset the original dataset for the current value
    subset_2 = train_data[train_data['trueskill.score'] == value]
    
    # Randomly select min_count data points from the subset
    sampled_subset_2 = subset_2.sample(n=4000, random_state=42, replace=True)
    
    # Append the sampled subset to the balanced dataset
    full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)

# Save the balanced dataset to a new CSV file
full_balanced_df_2_US.to_csv('/Users/prakharsrivastav/Summer2023/freshlook/csvs/balanced_dataset_train_safe_US.csv')

/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)
/var/folders/3_/lrj7s8rd091522hfmphr5nw40000gn/T/ipykernel_13435/1630907420.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_balanced_df_2_US = full_balanced_df_2_US.append(sampled_subset_2)